FishingRegister/FishingRegister.sln
FishingRegister/FishingRegister/obj/Debug/
FishingRegister/FishingRegister/bin/
FishingRegister/FishingRegister/obj/
FishingRegister/FishingRegister/wwwroot/css/
FishingRegister/.vs/FishingRegister/v16/.suo
FishingRegister/FishingRegister/FishingRegister.csproj
FishingRegister/.vs/FishingRegister/DesignTimeBuild/.dtbcache.v2
FishingRegister/FishingRegister/wwwroot/favicon.ico
FishingRegister/.vs/FishingRegister/config/applicationhost.config
